.banner{
	background-image: url(../../images/background.jpg);
	color: white;
	padding: 90px 0px;
	background-size: cover;
	background-position: center;
	opacity: 80%;
}

.banner h1{
	font-size: 50px;
	margin-bottom: 20px;	
}

.banner h4,h5,h6{
	margin: 5px;
	margin-bottom: 10px;
}


